// colors:
$bgcol: #c200fb; // main
$wfcol: #def2f1; // white font
$dfcol: #17242a; // dark font
$deccol: #2b7a77; // decoration 

$btnhighcol: #7f01a5;
$btnlowcol: #c200fb;


// animation:

// $ANIMATION_DURATION:               1s;
// $EASE_IN_OUT:                      cubic-bezier(0.445, 0.05, 0.55, 0.95);
// $CUBIC_BEZIER_1:                   cubic-bezier(0.550, 0.055, 0.675, 0.190);
// $CUBIC_BEZIER_2:                   cubic-bezier(0.175, 0.885, 0.320, 1);

//transition:
$tr3e: .3s ease;

